APP_TITLE=Founded In Macedonia
APP_URL=http://foundedin.mk
APP_ENV=production
APP_DEBUG=false
APP_KEY=                           # Use "php artisan key:generate"

DB_DEFAULT=mysql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=noreply@foundedin.mk
MAIL_FROM_NAME=Founded In Macedonia
MAIL_PRETEND=false