<div class="footer">
    <hr />

    <p class="pull-right small">
        <small>by <a href="https://g6solutions.com" target="_blank">G6</a>
        </small>
    </p>
</div>

</div> <!-- /container -->

<script src="{{ Config.get('app.url') }}/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ Config.get('app.url') }}/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ Config.get('app.url') }}/static/assets/app.js"></script>
</body>
</html>