<div class="footer">
    <hr />

    <p class="pull-right small">
        <small>Developed at <a href="https://g6solutions.com" target="_blank">G6 Solutions</a>
        </small>
    </p>
</div>

</div> <!-- /container -->

<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>