<h1>Founded In Macedonia, admin panel</h1>
<hr />
<a href="{{ route('admin.index') }}">Home</a> | <a href="{{ route('admin.startups.index') }}">Startups</a> | <a href="">Admin users</a> | <a href="">Static pages</a>
<hr />