{% include 'admin/header.twig' %}

<h1>Welcome!</h1>

<p>There are <strong>{{ approved }}</strong> listed startups and <strong>{{ waiting }}</strong> waiting to be approved.</p>

{% include 'admin/footer.twig' %}