<h1>Здраво,</h1>

<p>За жал, вашата апликација за додавање на <strong>{{ startup.name }}</strong> во листата на стартапи на "Founded in Macedonia" e <strong>одбиена</strong>,
    Ве молиме проверете ги вашите податоци и аплицирајте повторно.
</p>

<p>Огромна благодарност и поддршка затоа што сте дел од <strong>Македонската Стартап Заедница</strong>.</p>

<p>Rock on & Never Give Up!</p>

<p>
    Другарски поздрав,<br />
    Тимот на Founded in Macedonia
</p>