{% include 'emails/header.twig' %}

<h1>Hello,</h1>

<p>There's a new submitted startup - <strong>{{ startup.name }}</strong>. Please review it in the admin panel.</p>

{% include 'emails/footer.twig' %}
