<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/public.js"></script>


<footer>
            	<span>Brought to you by <a href="http://twitter.com/mitcome" target="_blank">Mitko</a> &amp; <a href="http://twitter.com/g6Solutions" target="_blank">G6</a> (<a href="http://twitter.com/angelovdejan" target="_blank">Dejan</a>, <a href="http://twitter.com/gvlatko" target="_blank">Vlatko</a> &amp; <a href="http://twitter.com/_teddy" target="_blank">Teddy</a>). <br>
            	Special thanks to <a href="http://twitter.com/danijanev" target="_blank">Daniel Janev</a> for the logo artwork. Hosting provided by <a href="http://mkhost.mk" target="_blank">mkhost</a>. All the logos and trademarks used on this website belong to its rightful owner.<br>
    <a href="http://foundedx.com" class="no-link" target="_blank"><img src="/static/assets/foundedx-badge.png" alt="Part of Founded X"></a>
</footer>
</div>

<!-- Smooth Scroll -->
<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>
</html>