<hr />
<p style="text-align: center; width: 100%">https://github.com/g6labs/foundedinmk</p>


<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/public.js"></script>