<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founded in Macedonia</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="Founded in Macedonia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:fb:admins" content="" />

    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />

    <meta name="author" content="G6 Solutions" />
    <link rel="shortcut icon" href="/static/assets/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/static/assets/favicon.png" />
    <link rel="stylesheet" href="/static/assets/vendor/components-font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap-public.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/component.css" />
    <script src="/static/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body class="cbp-spmenu-push">

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="menuRight">
    <a href="/" class="current">Founded in Macedonia</a>
    <a href="http://foundedx.com/about">About&nbsp;the&nbsp;initiative</a>
</nav>

<div class="container">

