{% include 'header.twig' %}

<h2>Add your startup to the list</h2>

{% if inserted is defined %}
    <h3>Your startup was added to the list but needs to be approved before showing here.</h3>
{% endif %}

<form action="{{ route('public.create') }}" method="post">
    Name: <input type="text" id="name" name="name"><br />
    Year founded: <input type="text" id="founded" name="founded"><br />
    Website: <input type="text" id="url" name="url" /><br />
    Twitter: @<input type="text" id="twitter" name="twitter" /><br />
    URL to high-res logo: <input type="text" id="logo_url" name="logo_url" /><br />
    Contact name: <input type="text" id="contact_name" name="contact_name" /> (optional) <br />
    Contact email: <input type="email" id="contact_email" name="contact_email" /> (optional) <br />

    <br />

    <input type="submit" name="add" value="Add it!" class="btn-submit-startup" />

</form>

<h2>Startups</h2>

{% for startup in startups %}

    {{ startup.name }} - {{ startup.url }} <br />

{% endfor %}

{% include 'footer.twig' %}